<template>
    <dashboard  title="API Tester">
        <v-card :loading="request_loading">
            <template slot="progress">
                <v-progress-linear color="red" indeterminate></v-progress-linear>
            </template>
            <v-card-title>
                GRID API Request
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-row>
                    <v-col>
                        <v-row>
                            <v-col cols="6">
                                <v-select
                                    v-model="configuration.idx"
                                    :items="configurations"
                                    item-value="idx"
                                    item-text="description"
                                    label="Desription"
                                    hint="Configuration Name/Description" 
                                    persistent-hint
                                    color="red"
                                    @change="getConfigurationDetais(configuration.idx)"
                                ></v-select>
                            </v-col>
                            <v-col cols="2">
                                <v-text-field v-model="configuration.utility_id_str" label="Utility ID" color="red"></v-text-field>
                            </v-col>
                            <v-col cols="2">
                                <v-text-field v-model="configuration.xfid" label="XFID" color="red"></v-text-field>
                            </v-col>
                            <v-col cols="2">
                                <v-text-field v-model="configuration.feeder_id_str" label="Feeder ID" color="red"></v-text-field>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
                <v-row>
                    <v-col>
                        <v-row>
                            <v-col cols="6">
                                <v-menu
                                ref="datepicker1"
                                v-model="datepicker1"
                                :close-on-content-click="true"
                                transition="scale-transition"
                                offset-y
                                max-width="290px"
                                min-width="auto"
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                        v-model="dateFormatted1"
                                        label="FROM"
                                        hint="MM/DD/YYYY"
                                        persistent-hint
                                        prepend-icon="mdi-calendar"
                                        v-bind="attrs"
                                        @blur="date1 = parseDate(dateFormatted1)"
                                        v-on="on"
                                        color="red"
                                        class="darken-2"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker
                                        v-model="date1"
                                        no-title
                                        @input="menu1 = false"
                                    ></v-date-picker>
                                </v-menu>
                            </v-col>
                            <v-col cols="3">
                                <v-select
                                :items="hours"
                                v-model="hour1"
                                hint="HH"
                                persistent-hint
                                label="Hour"
                                ></v-select>
                            </v-col>
                            <v-col cols="3">
                                <v-select
                                v-model="minute1"
                                :items="minutes"
                                hint="mm"
                                persistent-hint
                                label="Minute"
                                ></v-select>
                            </v-col>
                        </v-row>
                    </v-col>
                    <v-col>
                        <v-row>
                            <v-col cols="6">
                                <v-menu
                                ref="datepicker2"
                                v-model="datepicker2"
                                :close-on-content-click="true"
                                transition="scale-transition"
                                offset-y
                                max-width="290px"
                                min-width="auto"
                                >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-text-field
                                        v-model="dateFormatted2"
                                        label="FROM"
                                        hint="MM/DD/YYYY"
                                        persistent-hint
                                        prepend-icon="mdi-calendar"
                                        v-bind="attrs"
                                        @blur="date2 = parseDate(dateFormatted2)"
                                        v-on="on"
                                        color="red"
                                        class="darken-2"
                                        ></v-text-field>
                                    </template>
                                    <v-date-picker
                                        v-model="date2"
                                        no-title
                                        @input="menu1 = false"
                                    ></v-date-picker>
                                </v-menu>
                            </v-col>
                            <v-col cols="3">
                                <v-select
                                :items="hours"
                                v-model="hour2"
                                hint="HH"
                                persistent-hint
                                label="Hour"
                                ></v-select>
                            </v-col>
                            <v-col cols="3">
                                <v-select
                                v-model="minute2"
                                :items="minutes"
                                hint="mm"
                                persistent-hint
                                label="Minute"
                                ></v-select>
                            </v-col>
                        </v-row>
                    </v-col>
                </v-row>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" class="darken-2" dark @click="sendAPIRequest()"><v-icon>mdi-send</v-icon> Send API Request</v-btn>
            </v-card-actions>
        </v-card>
        <v-card class="mt-5" v-if="headers.length > 0" :loading="backfill_loading">
            <template slot="progress">
                <v-progress-linear color="red" indeterminate></v-progress-linear>
            </template>
            <v-card-title>GRID API Response</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-simple-table dense fixed-header>
                    <template v-slot:default>
                        <thead>
                            <tr>
                                <th v-for="(h, idx) in headers" v-bind:key="idx">{{ h }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(d, idx) in data" v-bind:key="idx">
                                <td v-for="(td, td_idx) in d" v-bind:key="td_idx">{{ td }}</td>
                            </tr>
                        </tbody>
                    </template>
                </v-simple-table>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="red" class="darken-2" dark @click="backFill"><v-icon>mdi-monitor-edit</v-icon> Backfill</v-btn>
            </v-card-actions>
        </v-card>

        <v-dialog
            v-model="dialog.open"
            width="400"
            >
            <v-card>
                <v-card-title class="headline white--text darken-3 red">
                    {{ dialog.title }}
                </v-card-title>

                <v-card-text class="pa-5">
                    <v-list dense>
                        <v-list-item-group
                            color="primary"
                        >
                            <v-list-item
                            v-for="(item, idx) in backfill_results"
                            :key="idx"
                            >
                            <v-list-item-icon>
                                <v-icon>{{ item.Status == 202 ? 'mdi-check' : 'mdi-close' }}</v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title v-text="idx"></v-list-item-title>
                            </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    :color="dialog.color"
                    text
                    @click="dialog.open = false"
                >
                    OK
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </dashboard>
</template>

<script>
import Dashboard from '../Dashboard.vue';
import axios from 'axios';
export default {
    name : 'APITester',
    components : {
        Dashboard
    },
    data: vm => ({
        configurations : [],
        configuration : {},
        date1: new Date().toISOString().substr(0, 10),
        date2: new Date().toISOString().substr(0, 10),
        dateFormatted1: vm.formatDate(new Date().toISOString().substr(0, 10)),
        dateFormatted2: vm.formatDate(new Date().toISOString().substr(0, 10)),
        datepicker1: false,
        datepicker2: false,
        headers : [],
        data : [],
        dialog : {
            open : false, 
            title : 'Backfill Result'
        },
        backfill_results : [],
        backfill_loading : false, 
        request_loading : false,
        hour1 : '08',
        hour2 : '08',
        minute1 : '00',
        minute2 : '15',
        hours : [],
        minutes : []
    }),
    watch: {
      date1 (val) {
        this.dateFormatted1 = this.formatDate(this.date1)
      },
      date2 (val) {
        this.dateFormatted2 = this.formatDate(this.date2)
      },
    },
    mounted () {
        for(let x = 0; x <= 23; x++) {
            var h = x <= 9 ? '0' + x : x;
            this.hours.push(h.toString());
        }

        for(let y = 0; y <= 45; y+=15) {
            var m = y <= 9 ? '0' + y : y;
            this.minutes.push(m.toString());
        }

        axios({
            url : this.$base_url + '/tag-configurations',
            method : 'GET'
        }).then(output => {
            let response = output.data;
            this.configurations = response.configurations.map((c, idx) => {
                c.idx = idx;
                return c;
            });
        }, err => {
            
        })
    },
    
    methods : {
        formatDate (date) {
            if (!date) return null

            const [year, month, day] = date.split('-')
            return `${month}/${day}/${year}`
        },
        parseDate (date) {
            if (!date) return null

            const [month, day, year] = date.split('/')
            return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
        },

        sendAPIRequest() {
            this.request_loading = true;
            var datetime1 = this.dateFormatted1 + ' ' + this.hour1 + ':' + this.minute1 + ':00';
            var datetime2 = this.dateFormatted2 + ' ' + this.hour2 + ':' + this.minute2 + ':00';
            axios({
                url : this.$base_url + '/grid/get-data',
                method : 'GET',
                params : {
                    from : datetime1, 
                    to : datetime2, 
                    transformer : this.configuration.xfid, 
                    utility : this.configuration.utility_id_str, 
                    feeder : this.configuration.feeder_id_str
                }
            }).then(output => {
                let response = output.data.filter(function (r) {
                    if(r.length > 1) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }).map(function (r) {
                    return r;
                });
                
                response.forEach((r, idx) => {
                    if(idx == 0) {
                        this.headers = r;
                    }
                    else {
                        this.data.push(r)
                    }
                });

                this.request_loading = false;
            }, err => {
                this.request_loading = false;
            })
        },
        getConfigurationDetais(idx) {
            Object.assign(this.configuration, this.configurations[idx]);
        },
        backFill() {
            this.backfill_loading = true;
            axios({
                url : this.$base_url + '/backfill',
                method : 'POST',
                data : {data : this.data, headers : this.headers, configuration : this.configuration},
                headers : {
                    'Content-Type' : 'application/x-www-form-urlencoded'
                }
            }).then(output => {
                let response = output.data;
                this.backfill_results = response.data;

                this.dialog.open = true;
                this.backfill_loading = false;
            }, err => {
                this.backfill_loading = false;
            })
        }
    }
}
</script>
