<template>
    <dashboard  title="Configurations">
        <v-card
        elevation="2"
        :loading="loading"
        >
            <template slot="progress">
                <v-progress-linear color="red" indeterminate></v-progress-linear>
            </template>
            <v-card-title>PI Web API Settings</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-row>
                    <v-col>
                        <v-text-field label="PI Web API" dense v-model="piwebapi.url" color="#b3021c" hint="PI WEB API URL" persistent-hint></v-text-field>
                    </v-col>
                     <v-col>
                        <v-text-field label="Username" dense color="#b3021c" v-model="piwebapi.username" hint="PI WEB API Username" persistent-hint></v-text-field>
                    </v-col>
                     <v-col>
                        <v-text-field type="password" dense label="Password" v-model="piwebapi.password" hint="PI WEB API Password" color="#b3021c" persistent-hint></v-text-field>
                    </v-col>
                </v-row>
                <v-row v-if="dataServers.length > 0">
                    <v-col cols="4">
                        <v-select dense
                            color="#b3021c"
                            v-model="piwebapi.pi_server"
                            :items="dataServers"
                            label="Data Server"
                            hint="PI Server Name" 
                            persistent-hint
                        ></v-select>
                    </v-col>
                </v-row>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-row>
                    <v-col>
                        <v-btn @click="checkConnection()"><v-icon>mdi-cog-clockwise</v-icon> Test Connection</v-btn>
                    </v-col>
                    <v-col class="text-right" v-if="connection_tested">
                        <v-btn color="#d10220" dark @click="saveConnection()" :disabled="piwebapi.pi_server == null"><v-icon>mdi-check</v-icon> Save Connection Settings</v-btn>
                    </v-col>
                </v-row>
            </v-card-actions>
        </v-card>
        
        <v-card
        class="mt-5"
        elevation="2"
        :loading="grid_loading"
        >   
            <template slot="progress">
                <v-progress-linear color="red" indeterminate></v-progress-linear>
            </template>
            <v-card-title>GRID API Settings</v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-row>
                     <v-col>
                        <v-text-field label="User" dense color="#b3021c" v-model="gridapi.username" hint="The username of the Web API User." persistent-hint></v-text-field>
                    </v-col>
                     <v-col>
                        <v-text-field type="Password" dense label="Password" v-model="gridapi.password" hint="The password of the Web API User."  persistent-hint color="#b3021c"></v-text-field>
                    </v-col>
                    <v-col cols="4">
                        <v-select dense
                            color="#b3021c"
                            v-model="gridapi.direction"
                            :items="directions"
                            label="Direction"
                            hint="Controls if the data is in FORWARD or REVERSE chronological order when returned."
                            persistent-hint
                        ></v-select>
                    </v-col>
                </v-row>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-row>
                    <v-col>
                        <v-btn @click="checkGridConnection()"><v-icon>mdi-cog-clockwise</v-icon> Test Connection</v-btn>
                    </v-col>
                    <v-col class="text-right">
                        <v-btn color="#d10220" dark @click="saveGridConnection()"><v-icon>mdi-check</v-icon> Save Connection Settings</v-btn>
                    </v-col>
                </v-row>
            </v-card-actions>
        </v-card>

        <v-dialog
            v-model="dialog.open"
            width="300"
            >
            <v-card>
                <v-card-title class="headline white--text darken-3" :class="dialog.color">
                    {{ dialog.title }}
                </v-card-title>

                <v-card-text class="pa-5">
                    <div class="text-bold">
                        {{ dialog.text }}
                    </div>
                    <div v-if="dialog.subtitle">
                        {{ dialog.subtitle }}
                    </div>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    :color="dialog.color"
                    text
                    @click="dialog.open = false"
                >
                    OK
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </dashboard>
</template>

<script>
import Dashboard from '../Dashboard.vue';
import axios from 'axios';
export default {
    name : 'Configuration',
    components : {
        Dashboard
    },
    data : () => {
        return {
            piwebapi : {},
            gridapi : {},
            dataServers : [],
            connection_tested : false,
            loading : false,
            grid_loading : false,
            directions : [
                'FORWARD', 'REVERSE'
            ],
            dialog : {
                open : false,
                title : '',
                message : '',
                icon : '',
                color : ''
            }
        };
    },
    mounted () {
        this.loading = true;
        axios({
            method : 'GET',
            url : this.$base_url + '/pi-configurations'
        }).then(output => {
            var response = output.data;
            this.piwebapi = response.piwebapi ? response.piwebapi : {};
            this.gridapi = response.gridapi ? response.gridapi : {};
            this.loading = false;
            this.grid_loading = false;
        })
    },
    methods : {
        checkConnection() {            
            var formData = new FormData();
            for(var x in this.piwebapi) {
               formData.append(x, this.piwebapi[x]);
            }
            axios({
                method: 'post', //you can set what request you want to be
                url: this.$base_url + '/check-connection',
                data: formData,
                headers : {
                    'Content-Type' : 'application/x-www-form-urlencoded'
                }
            }).then(output => {
                let response = output.data;

                if(response.httpcode == 200) {
                    this.connection_tested = true;
                    this.dataServers = response.data.Items.map(function (d) {
                        return d.Name;
                    });

                    this.showDialog('success', 'Connection Successful', 'API Connection has been validated.');
                }
                else {
                    this.showDialog('error', 'Connection Failed', 'Invalid PI Web API Settings.', 'Error Code : ' + response.httpcode)
                }
                
            }, err => {
                console.log(err);
            })
        },
        saveConnection() {
            var formData = new FormData();
            for(var x in this.piwebapi) {
               formData.append(x, this.piwebapi[x]);
            }

            axios({
                method: 'post', //you can set what request you want to be
                url: this.$base_url + '/save-connection',
                data: formData,
                headers : {
                    'Content-Type' : 'application/x-www-form-urlencoded'
                }
            }).then(output => {
                let response = output.data;
                this.piwebapi = response;

                this.showDialog('success', 'Success', 'PI Web API Settings has been saved!');

            }, err => {
                this.showDialog('error', 'Error', 'Something went wrong.', 'Error Code : ' + err.response.status)
            })
        },
        checkGridConnection() {
            var formData = new FormData();
            for(var x in this.gridapi) {
               formData.append(x, this.gridapi[x]);
            }

            this.grid_loading = true;

            axios({
                url : this.$base_url + '/check-grid-connection',
                method : 'POST',
                data : formData,
                headers : {
                    'Content-Type' : 'application/x-www-form-urlencoded'
                }
            }).then(output => {
                let response = output.data;
                this.grid_loading = false;
                this.showDialog('success', 'Success', 'Grid API Connection has been established!');
            }, err => {
                this.grid_loading = false;
                this.showDialog('error', 'Error', 'Something went wrong.', 'Error Code : ' + err.response.status)
            });
        },
        saveGridConnection() {
            var formData = new FormData();
            for(var x in this.gridapi) {
               formData.append(x, this.gridapi[x]);
            }

            this.grid_loading = true;

            axios({
                url : this.$base_url + '/save-grid-connection',
                method : 'POST',
                data : formData,
                headers : {
                    'Content-Type' : 'application/x-www-form-urlencoded'
                }
            }).then(output => {
                let response = output.data;
                this.gridapi = response;

                this.grid_loading = false;
                this.showDialog('success', 'Success', 'Grid API Settings has been saved!');
            }, err => {
                this.grid_loading = false;
                this.showDialog('error', 'Error', 'Something went wrong.', 'Error Code : ' + err.response.status)
            })
        },
        showDialog(type, title, text, subtitle = null) {
            if(type == 'success') {
                this.dialog.color = 'green';
                this.dialog.text = text;
                this.dialog.title = title;
                this.dialog.subtitle = subtitle;
            }
            else {
                this.dialog.color = 'red';
                this.dialog.text = text;
                this.dialog.title = title;
                this.dialog.subtitle = subtitle;
            }

            this.dialog.open = true;
        }
    }
        
}
</script>
