<template>
    <dashboard  title="Map Data Logger">
        <v-row>
            <v-col cols="3">
                <v-card>
                    <v-card-title>
                        G-Map Tags
                        <v-spacer></v-spacer>

                        <v-btn color="primary" class="mr-1" small dense @click="addNewtag">
                            <v-icon>mdi-plus</v-icon>
                        </v-btn>
                        <v-btn color="warning" class="mr-1" small dense @click="editTag" :disabled="selectedTagIdx < 0">
                            <v-icon>mdi-pencil</v-icon>
                        </v-btn>
                        <v-btn color="error" class="darken-2" small dense @click="deleteTag(selectedTagIdx)" :disabled="selectedTagIdx < 0">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-list dense>
                            <v-list-item-group
                                color="red"
                                class="darken2"
                                v-model="selectedTagIdx"
                            >   
                                <v-list-item
                                v-for="(t, i) in tags"
                                :key="i"
                                >
                                    <v-list-item-icon>
                                        <v-icon>mdi-tag</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-content>
                                        <v-list-item-title v-text="t.tag_name"></v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-card-text>
                </v-card>
            </v-col>
            <v-col cols="9">
                <v-card :loading="loading">
                    <template slot="progress">
                        <v-progress-linear color="red" indeterminate></v-progress-linear>
                    </template>
                    <v-card-title>
                        Tag Data
                        <v-spacer></v-spacer>
                        <v-btn small color="error" class="darken-2" @click="addTagValue" :disabled="selectedTagIdx == -1">
                            <v-icon>mdi-plus</v-icon> Add Value
                        </v-btn>
                    </v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>
                        <v-data-table :headers="headers" :items="values">
                            <template v-slot:item="row">
                                <tr>
                                    <td>{{row.item.fTimestamp}}</td>
                                    <td><a :href="'https://google.com/maps/dir/' + row.item.coordinates" target="_blank">{{row.item.coordinates}}</a></td>
                                    <td>{{row.item.details}}</td>
                                    <td><a :title="row.item.url" :href="row.item.url" target="_blank">{{row.item.url.length > 20 ? row.item.url.substring(0, 20) + '...' : row.item.url}}</a></td>
                                    <td>
                                        <div style="width:60px;">
                                            <v-btn x-small icon color="primary" class="mr-2" @click="editTagValue(row.item)">
                                                <v-icon>mdi-pencil</v-icon>
                                            </v-btn>
                                            <v-btn x-small icon color="error" @click="deleteTagValue(row.item)">
                                                <v-icon>mdi-close</v-icon>
                                            </v-btn>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>

        <v-dialog
            v-model="tagdialog"
            width="380"
            >
            <v-card>
                <v-card-title class="headline white--text darken-3 red">
                    Tag Details
                </v-card-title>
                
                <v-divider></v-divider>

                <v-card-text class="pa-5">
                    <v-text-field color="#b3021c" label="Enter Tag Name" hint="PI Tag Name (Required)" persistent-hint dense v-model="tag.tag_name"></v-text-field>
                </v-card-text>
                
                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="red"
                        class="white--text"
                        text
                        @click="saveTag"
                    >
                        OK
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog
            v-model="valueDialog"
            width="600"
            >
            <v-card>
                <v-card-title class="headline white--text darken-3 red">
                    Tag Value Details
                </v-card-title>
                
                <v-divider></v-divider>

                <v-card-text class="pa-5">
                    <v-row v-if="newTagValue.type == 'add'">
                        <v-col cols="6">
                            <v-menu
                                ref="datepicker1"
                                v-model="datepicker1"
                                :close-on-content-click="true"
                                transition="scale-transition"
                                offset-y
                                max-width="290px"
                                min-width="auto"
                                >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                    v-model="newTagValue.date"
                                    label="Date"
                                    hint="MM/DD/YYYY"
                                    persistent-hint
                                    prepend-icon="mdi-calendar"
                                    v-bind="attrs"
                                    @blur="date1 = parseDate(newTagValue.date)"
                                    v-on="on"
                                    color="#b3021c"
                                    ></v-text-field>
                                </template>
                                <v-date-picker
                                    v-model="date1"
                                    no-title
                                    @input="menu1 = false"
                                ></v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col cols="2">
                            <v-select
                                v-model="newTagValue.hour"
                                :items="hours"
                                label="HH"
                                hint="Hour"
                                persistent-hint
                                color="#b3021c"
                            ></v-select>
                        </v-col>
                        <v-col cols="2">
                            <v-select
                                v-model="newTagValue.minute"
                                :items="minutes"
                                label="mm"
                                hint="Minute"
                                persistent-hint
                                color="#b3021c"
                            ></v-select>
                        </v-col>
                        <v-col cols="2">
                            <v-select
                                v-model="newTagValue.meridian"
                                :items="meridians"
                                hint="AM/PM"
                                persistent-hint
                                color="#b3021c"
                            ></v-select>
                        </v-col>
                    </v-row>

                    <v-text-field prepend-icon="mdi-google-maps" hint="Latitude, Longitude" persistent-hint label="Coordinates" v-model="newTagValue.coordinates" color="#b3021c"></v-text-field>
                    <v-text-field prepend-icon="mdi-link" hint="Redirect URL" persistent-hint label="URL" v-model="newTagValue.url" color="#b3021c"></v-text-field>
                    <v-text-field prepend-icon="mdi-view-list" hint="Location Details" persistent-hint label="Details" v-model="newTagValue.details" color="#b3021c"></v-text-field>
                </v-card-text>
                
                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="red"
                        class="white--text"
                        @click="saveTagValue"
                        small
                        :disabled="invalidValueForm"
                    >
                        <v-icon>mdi-check</v-icon>  Submit
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </dashboard>
</template>

<script>
import Dashboard from '../Dashboard.vue';
import axios from 'axios';
export default {
    name : 'MapDataLogger',
    components : {
        Dashboard
    },
    data : () => {
        return {
            tagdialog : false,
            tags : [],
            selectedTagIdx : -1,
            selectedTag : {},
            tag : {},
            headers : [
                {
                    text: 'Timestamp',
                    align: 'start',
                    sortable: true,
                    value: 'fTimestamp',
                },
                {
                    text: 'Coordinates',
                    align: 'start',
                    sortable: false,
                    value: 'coordinates',
                },
                {
                    text: 'Details',
                    align: 'start',
                    sortable: false,
                    value: 'details',
                },
                {
                    text: 'Redirect URL',
                    align: 'start',
                    sortable: false,
                    value: 'url',
                },
                {
                    text: 'Action',
                    align: 'start',
                    sortable: false,
                },
            ],
            values : [],
            valueDialog : false,
            newTagValue : {},
            datepicker1: false,
            date1 : new Date().toISOString().substr(0, 10),
            hours : [],
            minutes : [],
            meridians : ['AM', 'PM'],
            invalidValueForm : true,
            loading : false
        };
    },
    watch : {
        selectedTagIdx(value) {
            if(value != undefined) {
                Object.assign(this.selectedTag, this.tags[this.selectedTagIdx]);
                this.loadTagValues();
            }
            else {
                this.selectedTag = {};
                this.values = [];
                this.selectedTagIdx = -1;
            }
        },
        date1 (val) {
            this.newTagValue.date = this.formatDate(this.date1)
        },
        newTagValue(val) {
            this.invalidValueForm = false;
            if(!val.coordinates) {
                this.invalidValueForm = true;
            }
            if(!val.url) {
                this.invalidValueForm = true;
            }
            if(!val.details) {
                this.invalidValueForm = true;
            }

            console.log(val);
        }
    },
    mounted () {
        this.loadTagList();

        for(let h = 1; h <= 12; h++) {
            let hour = h <= 9 ? '0' + h : h.toString();
            this.hours.push(hour);
        }

        for(let m = 0; m <= 55; m += 5) {
            let minute = m <= 9 ? '0' + m : m.toString();
            this.minutes.push(minute);
        }
    },
    methods : {
        formatDate (date) {
            if (!date) return null

            const [year, month, day] = date.split('-')
            return `${month}/${day}/${year}`
        },
        parseDate (date) {
            if (!date) return null

            const [month, day, year] = date.split('/')
            return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
        },
        loadTagList() {
            this.loading = true;
            axios({
                method : 'GET',
                url : this.$base_url + '/map/tags'
            }).then(output => {
                var response = output.data;
                this.tags = response.data;

                this.loading = false;
            }).catch(err => {
                this.loading = false;
            });
        },
        loadTagValues() {
            this.loading = true;
            axios({
                url : this.$base_url + '/map/tags/'+ this.selectedTag.web_id +'/recorded',
                method : 'GET'
            }).then(output => {
                let response = output.data;
                this.values = response.data.Items
                .filter(function (i) {
                    if(typeof i.Value == 'string') {
                        if(i.Value.substring(i.Value.length - 1) == 1) {
                            return true;
                        }
                        else {
                            return false;
                        }
                    }
                    return false;
                })
                .map(function (i) {
                    let value_arr = i.Value.split('|');
                    i.coordinates = value_arr[0];
                    i.url = value_arr[1];
                    i.details = value_arr[2];
                    i.fTimestamp = new Date(i.Timestamp).toLocaleString();
                    i.isActive = value_arr[3];
                    return i;
                });
                this.loading = false;
            }).catch(err => {
                this.loading = false;
                console.log(err);
            })
        },
        addNewtag() {
            this.tag = {
                id : 0
            };
            this.tagdialog = true;
        },

        editTag() {
            Object.assign(this.tag, this.selectedTag);
            this.tagdialog = true;
        },
        deleteTag(idx) {
            var tag_details = {};
            Object.assign(tag_details, this.tags[idx]);
            if(confirm("Are you sure?")) {
                axios({
                    url : this.$base_url + '/map/tags/' + tag_details.id,
                    method : 'POST',
                    data : {'_method' : 'DELETE'},
                    headers : {
                        'Content-Type' : 'application/x-www-form-urlencoded'
                    }
                }).then(response => {
                    this.loadTagList();
                    this.selectedTagIdx = -1;
                }).catch(err => {
                    console.log(err);
                })
            }
        },
        saveTag() {
            axios({
                url : this.$base_url + '/map/tags',
                method : 'POST',
                data : this.tag,
                headers : {
                    'Content-Type' : 'application/x-www-form-urlencoded'
                }
            }).then(output => {
                let response = output.data;
                this.tagdialog = false;
                this.loadTagList();
            });

            this.selectedTagIdx = -1;
        },
        addTagValue() {
            let hour = new Date().getHours() % 12;
            hour = hour == 0 ? 12 : hour;
            hour = hour <= 9 ? '0' + hour : hour.toString();
            this.newTagValue = {
                date : this.formatDate(new Date().toISOString().substring(0, 10)),
                hour : hour,
                minute : '00',
                meridian : new Date().getHours() > 12 ? 'AM' : 'PM',
                type : 'add'
            };
            this.valueDialog = true;
        },
        saveTagValue() {
            let params = {};
            if(this.newTagValue.type == 'add') {
                params = {
                    timestamp : this.newTagValue.date + ' ' + this.newTagValue.hour + ':' + this.newTagValue.minute + ':00 ' + this.newTagValue.meridian,
                    value : this.newTagValue.coordinates + '|' + this.newTagValue.url + '|' + this.newTagValue.details + '|1'
                };
            }
            else if(this.newTagValue.type == 'edit') {
                params = {
                    timestamp : this.newTagValue.Timestamp,
                    value : this.newTagValue.coordinates + '|' + this.newTagValue.url + '|' + this.newTagValue.details + '|1'
                };
            }
            else {
               params = {
                    timestamp : this.newTagValue.Timestamp,
                    value : this.newTagValue.coordinates + '|' + this.newTagValue.url + '|' + this.newTagValue.details + '|0'
                }; 
            }

            axios({
                url : this.$base_url + '/map/tags/'+ this.selectedTag.web_id +'/recorded',
                method : 'POST',
                data : params,
                headers : {
                    'Content-Type' : 'application/x-www-form-urlencoded'
                }
            }).then(output => {
                let response = output.data;
                this.loadTagValues();

                this.valueDialog = false;
            })
        },
        editTagValue(value) {
            var v = {};
            Object.assign(v, value);
            this.newTagValue = v;
            this.newTagValue.type = 'edit';
            this.valueDialog = true;
        },
        deleteTagValue(value) {
            if(confirm('Are you sure?')) {
                var v = {};
                Object.assign(v, value);
                this.newTagValue = v;
                this.newTagValue.type = 'delete';
                this.saveTagValue();
            }
        }
    }
        
}
</script>
