<template>
    <dashboard  title="Tag Configuration">
        <v-card
        elevation="2"
        :loading="loading"
        >   
            <template slot="progress">
                <v-progress-linear color="red" indeterminate></v-progress-linear>
            </template>
            <v-card-title>
                Tag List
            </v-card-title>
            <v-divider></v-divider>
            <v-card-text>
                <v-row>
                    <v-col cols="3">
                        <v-select dense
                            color="#b3021c"
                            v-model="configuration.idx"
                            :items="configurations"
                            item-value="idx"
                            item-text="description"
                            label="Configuration"
                            hint="Configuration Description"
                            @change="getConfigurationDetails(configuration.idx)"
                        ></v-select>
                    </v-col>
                    <v-col cols="1">
                        <v-text-field v-model="configuration.utility_id_str" color="#b3021c" label="Utility ID" readonly dense hint="Utility ID of the HESS Server"></v-text-field>
                    </v-col>
                    <v-col cols="1">
                        <v-text-field v-model="configuration.xfid" color="#b3021c" label="XFID" readonly dense hint="Transformer ID of the HESS Server"></v-text-field>
                    </v-col>
                    <v-col cols="1">
                        <v-text-field v-model="configuration.feeder_id_str" color="#b3021c" label="Feeder ID" readonly dense hint="Feeder ID of the HESS Server"></v-text-field>
                    </v-col>
                    <v-col cols="2">
                        <v-text-field v-model="configuration.coordinates_tag" color="#b3021c" label="G-Map Tag" readonly dense hint="Tag for Map Coordinates"></v-text-field>
                    </v-col>
                    <v-col cols="3">
                        <v-btn small color="blue" class="darken-4" dark @click="addConfiguration()">
                            <v-icon>
                                mdi-book-plus-multiple-outline
                            </v-icon>
                        </v-btn>

                        <v-btn small color="orange" dark class="ml-2" @click="editConfiguration()">
                            <v-icon>
                                mdi-lead-pencil
                            </v-icon>
                        </v-btn>

                        <v-btn small color="red" dark class="darken-2 ml-2" @click="deleteConfiguration()">
                            <v-icon>
                                mdi-trash-can
                            </v-icon>
                        </v-btn>
                    </v-col>

                </v-row>
                <v-row v-bind:key="t.id" v-for="(t, idx) in tag_configurations">
                    <v-col cols="6">
                        <v-text-field dense  color="red darken-2" 
                            label="Source Parameter" 
                            hint="GRID API Parameter Name (eg. KWH-FWD)" 
                            prepend-icon="mdi-database"
                            v-model="t.source_param"></v-text-field>
                    </v-col>
                    <v-col cols="6">
                        <v-text-field dense color="red darken-2" 
                            :label="'Destination Tag ' + (t.web_id ? '(Valid)' : '')" 
                            hint="PI Tag Name (eg. SINUSOID)" 
                            prepend-icon="mdi-tag" 
                            append-outer-icon="mdi-close"
                            @click:append-outer="removeTag(idx)"
                            v-model="t.tag_name">
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-btn @click="loadSampleData" small class="mt-2 mr-5"><v-icon>mdi-web</v-icon>Load from API</v-btn>
                <v-btn @click="addRecord" small class="mt-2"><v-icon>mdi-card-plus</v-icon> Add</v-btn>
            </v-card-text>
            <v-divider></v-divider>
            <v-card-actions>
                <v-btn @click="createTags()" v-if="missing_tags.length > 0">
                    <v-icon>mdi-tag</v-icon> Create {{ missing_tags.length }} Missing Tags
                </v-btn>
                <v-spacer></v-spacer>
                    <v-btn @click="validateTags()">
                        <v-icon>mdi-comment-question</v-icon> Validate Tags
                    </v-btn>
                    <v-btn color="red" class="darken-2" dark @click="submitTagConfiguration()" v-if="missing_tags.length == 0">
                        <v-icon>mdi-check</v-icon> Save
                    </v-btn>
            </v-card-actions>
        </v-card>

        <v-dialog
            v-model="dialog.open"
            width="380"
            >
            <v-card>
                <v-card-title class="headline white--text darken-3" :class="dialog.color">
                    {{ dialog.title }}
                </v-card-title>

                <v-card-text class="pa-5">
                    <div class="text-bold">
                        <span v-html="dialog.text"></span>
                    </div>
                    <div v-if="dialog.subtitle">
                        <span v-html="dialog.subtitle"></span>
                    </div>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    :color="dialog.color"
                    text
                    @click="dialog.open = false"
                >
                    OK
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog
            v-model="configuration_dialog.open"
            width="380"
            >
            <v-card>
                <v-card-title class="headline white--text darken-3 red">
                    Configuration Details
                </v-card-title>

                <v-card-text class="pa-5">
                    <v-text-field color="#b3021c" label="Description" v-model="new_configuration.description" hint="Configuration Name/Description"></v-text-field>
                    <v-select 
                        color="#b3021c" 
                        hint="Utility ID" 
                        label="Utility ID" 
                        v-model="new_configuration.utility_id" 
                        :items="utilities" 
                        item-value="id" 
                        item-text="utility_id"
                        append-icon="mdi-view-grid-plus"
                        @click:append="utility_dialog.open = true">
                    </v-select>
                    <v-select 
                        color="#b3021c" 
                        hint="Transformer ID" 
                        label="XFID" 
                        v-model="new_configuration.transformer_id" 
                        :items="transformers" 
                        item-value="id" 
                        item-text="xfid"
                        append-icon="mdi-view-grid-plus"
                        @click:append="transformer_dialog.open = true">
                    </v-select>
                    <v-select 
                        color="#b3021c" 
                        hint="Feeder ID" 
                        label="Feeder ID" 
                        v-model="new_configuration.feeder_id" 
                        :items="feeders" 
                        item-value="id" 
                        item-text="feeder_id"
                        append-icon="mdi-view-grid-plus"
                        @click:append="feeder_dialog.open = true">
                    </v-select>
                    <v-text-field
                        color="#b3021c" 
                        hint="Tag for Map Coordinates" 
                        label="G-Map Tag"
                        v-model="new_configuration.coordinates_tag"
                        append-icon="mdi-map-marker"
                    >
                    </v-text-field>
                    <v-text-field
                        color="#b3021c" 
                        hint="Information that will be displayed on marker hover" 
                        label="G-Map Marker Details"
                        v-model="new_configuration.coordinates_info"
                        append-icon="mdi-information"
                    ></v-text-field>
                    <v-text-field
                        color="#b3021c" 
                        hint="Redirect URL" 
                        label="G-Map Redirect URL"
                        v-model="new_configuration.coordinates_url"
                        append-icon="mdi-link"
                    >
                    </v-text-field>
                    <v-switch
                        v-model="new_configuration.enabled"
                        label="Enabled"
                        color="#b3021c" 
                    ></v-switch>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="red"
                    dark
                    @click="saveConfiguration()"
                >
                    Save
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog
            v-model="utility_dialog.open"
            width="380"
            >
            <v-card>
                <v-card-title class="headline white--text darken-3 red">
                    Utility List
                </v-card-title>

                <v-card-text class="pa-5">
                    <v-row class="pt-3 pb-3 pl-5">
                        <v-text-field color="red" class="darken-2" label="Utility ID" hint="The Utility ID in the HESS Server." dense v-model="new_utility.utility_id"></v-text-field>
                        <v-btn small class="ml-3" @click="addUtility()">
                            <v-icon>mdi-plus</v-icon> Add
                        </v-btn>
                    </v-row>
                    <v-list dense>
                        <v-list-item v-for="(u, idx) in utilities" v-bind:key="u.id">
                            <v-list-item-title>{{ u.utility_id }}</v-list-item-title>
                            <v-spacer></v-spacer>
                            <v-btn small icon @click="deleteUtility(u, idx)">
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                        </v-list-item>
                    </v-list>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="red"
                    class="white--text"
                    text
                    @click="utility_dialog.open = false"
                >
                    OK
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog
            v-model="transformer_dialog.open"
            width="380"
            >
            <v-card>
                <v-card-title class="headline white--text darken-3 red">
                    Transformer List
                </v-card-title>

                <v-card-text class="pa-5">
                    <v-row class="pt-3 pb-3 pl-5">
                        <v-text-field color="red" class="darken-2" label="XFID" hint="Tranformer ID" dense v-model="new_transformer.xfid"></v-text-field>
                        <v-btn small class="ml-3" @click="addTransformer()">
                            <v-icon>mdi-plus</v-icon> Add
                        </v-btn>
                    </v-row>
                    <v-list dense>
                        <v-list-item v-for="(t, idx) in transformers" v-bind:key="t.id">
                            <v-list-item-title>{{ t.xfid }}</v-list-item-title>
                            <v-spacer></v-spacer>
                            <v-btn small icon @click="deleteTranformer(t, idx)">
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                        </v-list-item>
                    </v-list>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="red"
                    class="white--text"
                    text
                    @click="transformer_dialog.open = false"
                >
                    OK
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog
            v-model="feeder_dialog.open"
            width="380"
            >
            <v-card>
                <v-card-title class="headline white--text darken-3 red">
                    Feeder List
                </v-card-title>

                <v-card-text class="pa-5">
                    <v-row class="pt-3 pb-3 pl-5">
                        <v-text-field color="red" class="darken-2" label="Feeder ID" hint="Feeder ID" dense v-model="new_feeder.feeder_id"></v-text-field>
                        <v-btn small class="ml-3" @click="addFeeder()">
                            <v-icon>mdi-plus</v-icon> Add
                        </v-btn>
                    </v-row>
                    <v-list dense>
                        <v-list-item v-for="(f, idx) in feeders" v-bind:key="f.id">
                            <v-list-item-title>{{ f.feeder_id }}</v-list-item-title>
                            <v-spacer></v-spacer>
                            <v-btn small icon @click="deleteFeeder(f, idx)">
                                <v-icon>mdi-close</v-icon>
                            </v-btn>
                        </v-list-item>
                    </v-list>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                    color="red"
                    class="white--text"
                    text
                    @click="feeder_dialog.open = false"
                >
                    OK
                </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </dashboard>
</template>

<script>
import Dashboard from '../Dashboard.vue';
import axios from 'axios';
export default {
    name : 'TagConfiguration',
    components : {
        Dashboard
    },
    data : () => {
        return {
            loading : false,
            configurations : [],
            configuration : {},
            tag_configurations : [],
            pi_config : {},
            transformers : [],
            transformer : {},
            missing_tags : [],
            utilities : [],
            utility : {},
            feeders : [],
            feeder : {},
            dialog : {
                open : false
            },
            configuration_dialog : {
                open : false
            },
            utility_dialog : {
                open : false
            },
            transformer_dialog : {
                open : false
            },
            feeder_dialog : {
                open : false
            },
            new_configuration : {},
            new_transformer : {},
            new_utility : {},
            new_feeder : {},
            configuration_idx : 0,
        }
    },
    mounted () {
        this.loading = true;
        axios({
            url : this.$base_url + '/tag-configurations',
            method : 'GET'
        }).then(output => {
            var response = output.data;
            this.pi_config = response.pi_config;
            this.transformers = response.transformers;
            this.utilities = response.utilities;
            this.feeders = response.feeders;
            this.configurations = response.configurations.map((configuration, idx) => {
                configuration.idx = idx;
                return configuration;
            });


            if(this.configurations.length > 0) {
                Object.assign(this.configuration, this.configurations[0]);
                console.log("Test");
                this.getConfigurationDetails(0);
            }

            this.loading = false;
        }, err => {
            this.loading = false;
        })
    },
    methods : {
        addRecord() {
            this.tag_configurations.push({});
        },
        getWebID(tag, idx) {
            axios({
                url : this.$base_url + '/piwebapi/get-tag-details',
                method : 'GET',
                params : {tag_name : tag.tag_name}
            }).then(output => {
                var response = output.data;
                if(response.httpcode == 200) {
                    this.tag_configurations[idx].web_id = response.data.WebId;
                    this.showDialog('success', 'PI Tag Verified', 'Tag Name has been Verified');
                }
                else {
                    this.showDialog('error', 'PI Tag Not Found', 'This Tag Name doesn\'t exist.', 'Error Code : ' + response.httpcode);
                }
            })
        },

        removeTag(idx) {
            this.tag_configurations.splice(idx, 1);
        }, 
        validateTags() {
            this.loading = true;
            axios({
                url : this.$base_url + '/validate-tags',
                method : 'POST',
                data : {tags : this.tag_configurations},
                headers : {
                    'Content-Type' : 'application/x-www-form-urlencoded'
                }
            }).then(output => {
                let response = output.data;
                var missing_tags = [];
                
                for(var idx in response) {
                    var r = response[idx];
                    if(r.status != 200) {
                        missing_tags.push(this.tag_configurations[idx]);
                    }
                    else {
                        let tag_info = this.tag_configurations[idx];
                        tag_info.web_id = r.web_id;
                        this.$set(this.tag_configurations, idx, tag_info);
                    }
                }
 
                if(missing_tags.length > 0) {
                    let text = '';
                    missing_tags.forEach(function (t) {
                        text += '<div>&bull;&emsp;'+ t.tag_name  +'</div>'
                    });

                    this.showDialog('error', 'Some Tags cannot be found.', text, '<br/><small>Please make sure that these tags will be created in your PI Server</small>');
                }
                else {
                    this.showDialog('success', 'Tag Validation Completed', 'PI tags have been validated successfully.');
                }

                this.missing_tags = missing_tags;

                this.loading = false;

            }, err => {
                this.loading = false;
                this.showDialog('error', 'Error', err.response.statusText, 'Error Code : ' + err.response.status);
            })
        },
        loadSampleData() {
            this.loading = true;
            axios({
                url : this.$base_url + '/grid/load-sample-data',
                method : 'GET',
                params : {utility_id : this.configuration.utility_id_str, transformer_id : this.configuration.xfid, 'feeder_id' : this.configuration.feeder_id_str}
            }).then(output => {
                let response = output.data;
                
                this.loading = false;
                this.tag_configurations = [];
                response.tag_list.forEach((r, idx) => {
                    var tag_name = [];
                    if(this.configuration.utility_id_str) {
                        tag_name.push(this.configuration.utility_id_str);
                    }
                    if(this.configuration.transformer_id) {
                        tag_name.push(this.configuration.xfid);
                    }
                    if(this.configuration.feeder_id) {
                        tag_name.push(this.configuration.feeder_id_str);
                    }

                    this.tag_configurations.push({
                        source_param : r,
                        tag_name : tag_name.join('.') + '.' + r,
                        idx : idx
                    });
                });

                this.validateTags();
            }, err => {
                this.loading = false;
            })
        },
        showDialog(type, title, text, subtitle = null) {
            if(type == 'success') {
                this.dialog.color = 'green';
                this.dialog.text = text;
                this.dialog.title = title;
                this.dialog.subtitle = subtitle;
            }
            else {
                this.dialog.color = 'red';
                this.dialog.text = text;
                this.dialog.title = title;
                this.dialog.subtitle = subtitle;
            }

            this.dialog.open = true;
        },
        submitTagConfiguration() {
            axios({
                url : this.$base_url + '/tag-configurations/' + this.configuration.id,
                method : 'POST',
                data : {tags : this.tag_configurations},
                headers : {
                    'Content-Type' : 'application/x-www-form-urlencoded'
                }
            }).then(output => {
                let response = output.data;
                this.tag_configurations = response;
                
                this.showDialog('success', 'Tag Configurations Saved', 'Tag Configuration has been saved!');
            })
        },
        createTags() {
            axios({
                url : this.$base_url + '/tags/create',
                method : 'POST',
                data : {tags : this.missing_tags},
                headers : {
                    'Content-Type' : 'application/x-www-form-urlencoded'
                }
            }).then(output => {
                let response = output.data;
                
                this.showDialog('success', 'Success!', 'Missing Tags have been created!');
            })
        },
        addTransformer() {
            axios({
                url : this.$base_url + '/transformers',
                method : 'POST',
                data : this.new_transformer,
                headers : {
                    'Content-Type' : 'application/x-www-form-urlencoded'
                }
            }).then(output => {
                let response = output.data;
                this.transformers.push(response);
            }, err => {

            })
        },
        deleteTranformer(t, idx) {
            if(confirm("Are you sure?")) {
                this.loading = true;
                axios({
                    url : this.$base_url + '/transformers/' + t.id,
                    method : 'POST',
                    data : { _method: "DELETE" },
                    headers : {
                        'Content-Type' : 'application/x-www-form-urlencoded'
                    }
                }).then(output => {
                    this.transformers.splice(idx, 1);
                    this.loading = false;
                }, err => {
                    this.loading = false;
                })
            }
        },
        addUtility(){
            axios({
                url : this.$base_url + '/utilities',
                method : 'POST',
                data : this.new_utility,
                headers : {
                        'Content-Type' : 'application/x-www-form-urlencoded'
                    }
                }).then(output => {
                    let response = output.data;
                    this.utilities.push(response);
                }, err => {
            })
        },
        deleteUtility(u, idx) {
            if(confirm("Are you sure?")) {
                axios({
                        url : this.$base_url + '/utilities/' + u.id,
                        method : 'POST',
                        data : {_method : "DELETE"},
                        headers : {'Content-Type' : 'application/x-www-form-urlencoded'}
                    }).then(output => {
                        this.utilities.splice(idx, 1)
                    }, err => {
                })
            }
        },
        addFeeder() {
            axios({
                url : this.$base_url + '/feeders',
                method : 'POST',
                data : this.new_feeder,
                headers : {'Content-Type' : 'application/x-www-form-urlencoded'}
            }).then(output => {
                let response = output.data;
                this.feeders.push(response);
            })
        },
        deleteFeeder(f, idx) {
            axios({
                url : this.$base_url + '/feeders/' + f.id,
                method : 'POST',
                data : {_method : "DELETE"},
                headers : {'Content-Type' : 'application/x-www-form-urlencoded'}
            }).then(output => {
                 this.feeders.splice(idx, 1)
            })
        },
        getConfigurationDetails(idx) {
            Object.assign(this.configuration, this.configurations[idx]);
            
            axios({
                url : this.$base_url + '/tag-configurations/' + this.configuration.id,
                method : 'GET'
            }).then(output => {
                let response = output.data;
                this.tag_configurations = response.map((t, idx) => {
                    t.idx = idx;
                    return t;
                });
            })
        },
        addConfiguration() {
            this.new_configuration = {
                id : 0,
                utility_id : null,
                transformer_id : null,
                feeder_id : null
            };
            this.configuration_dialog.open = true;
        },
        editConfiguration() {
            Object.assign(this.new_configuration, this.configuration);
            this.configuration_dialog.open = true;
        },
        deleteConfiguration() {
            if(confirm('Are you sure?')) {
                axios({
                    url : this.$base_url + '/configurations/' + this.configuration.id,
                    method : 'post',
                    data : {_method : "DELETE"},
                    headers : {'Content-Type' : 'application/x-www-form-urlencoded'}
                }).then(output => {
                    this.configurations.splice(this.configuration.idx, 1);
                    if(this.configurations.length > 0) {
                        Object.assign(this.configuration, this.configurations[0]);
                    }
                    else {
                        this.configuration = {};
                    }
                }).catch(error => {

                })
            }
        },
        saveConfiguration() {
            axios({
                url : this.$base_url + '/configurations',
                method : 'POST',
                data : this.new_configuration,
                headers : {'Content-Type' : 'application/x-www-form-urlencoded'}
            }).then(output => {
                let response = output.data;
                this.configurations = response.data.map((c, idx) => {
                    c.idx = idx;
                    return c;
                });
                
                this.configuration_dialog = false;
            }).catch(error => {
                if (error.response) {
                    this.showDialog('error', 'Error ' + error.response.status, error.response.data.message);
                }
            });
        }
    }
}
</script>
