<!--This is for the dashboard universal layout-->
<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      light
      app
      width="220"
    >
        
        <v-toolbar color="#b3021c" class="text-center">
        <h3 class="white--text">Calibr8 GRID-API to PI</h3>
        </v-toolbar>
            <v-list dense class="pt-0">
                <v-list-item link :to="{name : 'Configuration'}">
                    <v-list-item-action>
                        <v-icon>mdi-cog-transfer</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Configurations</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link :to="{name : 'TagConfiguration'}">
                    <v-list-item-action>
                        <v-icon>mdi-tag</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Tag Configuration</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item link :to="{name : 'APITester'}">
                    <v-list-item-action>
                        <v-icon>mdi-webhook</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>API Tester</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <!-- <v-list-item link :to="{name : 'MapDataLogger'}">
                    <v-list-item-action>
                        <v-icon>mdi-map-marker</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Map Data Logger</v-list-item-title>
                    </v-list-item-content>
                </v-list-item> -->

                <v-list-item @click="logout()">
                    <v-list-item-action>
                        <v-icon>mdi-logout</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Log-Out</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
        </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      color="#d10220"
      dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>
        <h3 v-text="`${title}`"></h3>
      </v-toolbar-title>
    </v-app-bar>

    <v-main class="pa-5" style="background-color:#eff0f5;">
      <slot @set-title="setTitle"></slot>
    </v-main>
    <v-footer
      color="#d10220"
      dark
      app
    >
      Copyright <span>&copy; 2020 by Calibr8 Systems Inc. </span>
    </v-footer>

  </v-app>
</template>

<script>
  import axios from 'axios';
  export default {
    props : {
        title: String
    },
    data : () => {
      return {
          drawer: null
      }
    },
    methods : {
        logout() {
            window.localStorage.removeItem('token');
            this.$router.push({name : 'Login'});
        }
    }
  }
</script>