<template>
  <v-app id="inspire">
    <div class="login-bg"></div>
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="10"
            md="4"
          >
            
            <v-card class="elevation-12">
              <v-toolbar
                color="red"
                class="darken-2"
                dark
                flat
              >
                <v-toolbar-title>Calibr8 GRID-API to PI</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    color="red"
                    class="darken-2"
                    label="Username"
                    v-model="user.username"
                    prepend-icon="mdi-account"
                    type="text"
                  ></v-text-field>

                  <v-text-field
                    color="red"
                    class="darken-2"
                    id="password"
                    label="Password"
                    v-model="user.password"
                    prepend-icon="mdi-lock"
                    type="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions class="pl-4 pr-4">
                <v-btn block color="red" class="darken-2" dark @click.stop="login()">
                    <v-icon left>{{ loading ? 'mdi-loading mdi-spin' : 'mdi-login'}}</v-icon> 
                    Login
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
    <v-dialog
        v-model="dialog.open"
        width="300"
        >
        <v-card>
            <v-card-title class="headline white--text darken-3 red">
                {{ dialog.title }}
            </v-card-title>

            <v-card-text class="pa-5">
                <div class="text-bold">
                    {{ dialog.text }}
                </div>
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
                :color="dialog.color"
                text
                @click="dialog.open = false"
            >
                OK
            </v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
  </v-app>
</template>
<style>
.login-bg {
    background: url('../assets/background.jpg') #e0dfda;
    background-position-y: center; 
    background-position-x: center; 
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size:cover;
    width:100%;
    height:100%;
    opacity: 0.1;
}
</style>

<script>
  import axios from 'axios';
  export default {
    data : () => ({
      user : {},
      loading : false,
      dialog : {
          open : false,
          title : 'Access Denied',
          text : ''
      }
    }),
    methods: {
      // login() {
      //   this.$router.push({'name' : 'dashboard'})
      // }
      login() {
        axios({
            url : this.$base_url + '/login',
            method : 'POST',
            data : this.user,
            headers : {
              'Content-Type' : 'application/x-www-form-urlencoded'
            }
        }).then(output => {
            localStorage.setItem('token', output.data.data.token);
            this.$router.push({'name' : 'Configuration'})
        })
      }
    }
  }
</script>